<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('quizApp.results.home.title')" id="results-heading">Results</span>
            <router-link :to="{name: 'ResultsCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-results">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('quizApp.results.home.createLabel')">
                    Create a new Results
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && results && results.length === 0">
            <span v-text="$t('quizApp.results.home.notFound')">No results found</span>
        </div>
        <div class="table-responsive" v-if="results && results.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('email')"><span v-text="$t('quizApp.results.email')">Email</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'email'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('idQuiz')"><span v-text="$t('quizApp.results.idQuiz')">Id Quiz</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'idQuiz'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('idQuestion')"><span v-text="$t('quizApp.results.idQuestion')">Id Question</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'idQuestion'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('answer')"><span v-text="$t('quizApp.results.answer')">Answer</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'answer'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('idSubGroup')"><span v-text="$t('quizApp.results.idSubGroup')">Id Sub Group</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'idSubGroup'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="results in results"
                    :key="results.id">
                    <td>
                        <router-link :to="{name: 'ResultsView', params: {resultsId: results.id}}">{{results.id}}</router-link>
                    </td>
                    <td>{{results.email}}</td>
                    <td>{{results.idQuiz}}</td>
                    <td>{{results.idQuestion}}</td>
                    <td>{{results.answer}}</td>
                    <td>{{results.idSubGroup}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'ResultsView', params: {resultsId: results.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ResultsEdit', params: {resultsId: results.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(results)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="quizApp.results.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-results-heading" v-text="$t('quizApp.results.delete.question', {'id': removeId})">Are you sure you want to delete this Results?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-results" v-text="$t('entity.action.delete')" v-on:click="removeResults()">Delete</button>
            </div>
        </b-modal>
        <div v-show="results && results.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./results.component.ts">
</script>
