<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="quizApp.results.home.createOrEditLabel" v-text="$t('quizApp.results.home.createOrEditLabel')">Create or edit a Results</h2>
                <div>
                    <div class="form-group" v-if="results.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="results.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.results.email')" for="results-email">Email</label>
                        <input type="text" class="form-control" name="email" id="results-email"
                            :class="{'valid': !$v.results.email.$invalid, 'invalid': $v.results.email.$invalid }" v-model="$v.results.email.$model"  required/>
                        <div v-if="$v.results.email.$anyDirty && $v.results.email.$invalid">
                            <small class="form-text text-danger" v-if="!$v.results.email.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.results.idQuiz')" for="results-idQuiz">Id Quiz</label>
                        <input type="text" class="form-control" name="idQuiz" id="results-idQuiz"
                            :class="{'valid': !$v.results.idQuiz.$invalid, 'invalid': $v.results.idQuiz.$invalid }" v-model="$v.results.idQuiz.$model"  required/>
                        <div v-if="$v.results.idQuiz.$anyDirty && $v.results.idQuiz.$invalid">
                            <small class="form-text text-danger" v-if="!$v.results.idQuiz.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.results.idQuestion')" for="results-idQuestion">Id Question</label>
                        <input type="text" class="form-control" name="idQuestion" id="results-idQuestion"
                            :class="{'valid': !$v.results.idQuestion.$invalid, 'invalid': $v.results.idQuestion.$invalid }" v-model="$v.results.idQuestion.$model"  required/>
                        <div v-if="$v.results.idQuestion.$anyDirty && $v.results.idQuestion.$invalid">
                            <small class="form-text text-danger" v-if="!$v.results.idQuestion.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.results.answer')" for="results-answer">Answer</label>
                        <input type="text" class="form-control" name="answer" id="results-answer"
                            :class="{'valid': !$v.results.answer.$invalid, 'invalid': $v.results.answer.$invalid }" v-model="$v.results.answer.$model"  required/>
                        <div v-if="$v.results.answer.$anyDirty && $v.results.answer.$invalid">
                            <small class="form-text text-danger" v-if="!$v.results.answer.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.results.idSubGroup')" for="results-idSubGroup">Id Sub Group</label>
                        <input type="text" class="form-control" name="idSubGroup" id="results-idSubGroup"
                            :class="{'valid': !$v.results.idSubGroup.$invalid, 'invalid': $v.results.idSubGroup.$invalid }" v-model="$v.results.idSubGroup.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="button" id="save-entity" :disabled="$v.results.$invalid || isSaving" class="btn btn-primary" v-on:click.prevent="saveNHome()">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./results-update.component.ts">
</script>
