<template>
    <div v-bind:style="{ background: color}">
        <div class="row justify-content-center">
            <div class="col-8">
                <div v-if="results">
                    <h2 class="jh-entity-heading"><span v-text="$t('quizApp.results.detail.title')">Results</span> {{results.id}}</h2>
                    <dl class="row jh-entity-details">
                        <dt>
                            <span v-text="$t('quizApp.results.email')">Email</span>
                        </dt>
                        <dd>
                            <span>{{results.email}}</span>
                        </dd>
                        <dt>
                            <span v-text="$t('quizApp.results.idQuiz')">Id Quiz</span>
                        </dt>
                        <dd>
                            <span>{{results.idQuiz}}</span>
                        </dd>
                        <dt>
                            <span v-text="$t('quizApp.results.idQuestion')">Id Question</span>
                        </dt>
                        <dd>
                            <span>{{results.idQuestion}}</span>
                        </dd>
                        <dt>
                            <span v-text="$t('quizApp.results.answer')">Answer</span>
                        </dt>
                        <dd>
                            <span>{{results.answer}}</span>
                        </dd>
                        <dt>
                            <span v-text="$t('quizApp.results.idSubGroup')">Id Sub Group</span>
                        </dt>
                        <dd>
                            <span>{{results.idSubGroup}}</span>
                        </dd>
                    </dl>
                    <button type="submit"
                            v-on:click.prevent="previousState()"
                            class="btn btn-info">
                        <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                    </button>
                    <router-link v-if="results.id" :to="{name: 'ResultsEdit', params: {resultsId: results.id}}" tag="button" class="btn btn-primary">
                        <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./results-details.component.ts">
</script>
