<template>
    <div class="d-flex row justify-content-center">
        <span class="quiz img-fluid rounded" style="position: relative; top:-45px;"></span>
        <div class="col-8">
            <div v-if="quiz">
                <h2 class="jh-entity-heading"><b>{{quiz.title}}</b></h2>
                <h4 v-text="$t('quizApp.results.detail.titleQuizResults')" class="text-success">Quiz answers</h4>
                <span v-if="getSubGroup" class="text-success">Groupe: {{getSubGroup}}</span>
                <br><hr><br>
                <div v-for="(question, i) in quiz.questions" :key="question.id">{{i > 0 ? '' : ''}}
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-success">Q.</h3>
                        <h5 class="mt-1 ml-2">{{question.name}}</h5>
                    </div>
                    <table class="table table-hover table-sm">
                        <thead class="table-info">
                        <tr>
                            <th width="10%"><span v-text="$t('quizApp.results.idSubGroup')">Sub Group</span></th>
                            <th width="25%"><span v-text="$t('quizApp.results.email')">Student</span></th>
                            <th width="65%"><span v-text="$t('quizApp.results.answer')">Answer</span></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(result, i) in results" :key="result.id"
                              v-if="(result.idQuestion === question.id) && (!(hasAnyAuthority(['ROLE_ADMIN','ROLE_PROFESSEUR'])) && ((getSubGroup === undefined && getUserEmail === result.email) || (getSubGroup !== undefined && getSubGroup === result.idSubGroup)))"
                              class="ans ml-2">{{i > 0 ? '' : ''}}
                                <td>{{result.idSubGroup}}</td>
                                <td>{{result.email}}</td>
                                <td>{{result.answer}}</td>
                            </tr>
                            <tr v-for="(result, i) in results" :key="result.id"
                              v-if="(result.idQuestion === question.id) && ((hasAnyAuthority(['ROLE_ADMIN','ROLE_PROFESSEUR'])) && ((getSubGroup === undefined) || (getSubGroup !== undefined && getSubGroup === result.idSubGroup)))"
                              class="ans ml-2">{{i > 0 ? '' : ''}}
                                <td>{{result.idSubGroup}}</td>
                                <td>{{result.email}}</td>
                                <td>{{result.answer}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><hr><br>
                </div>
                <div>
                    <button v-on:click.prevent="previousState()"
                            class="btn btn-info">
                        <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./quiz-results.component.ts">

</script>
