<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="quizApp.quiz.home.createOrEditLabel" v-text="$t('quizApp.quiz.home.createOrEditLabel')">Create or edit a Quiz</h2>
                <div>
                    <div class="form-group" v-if="quiz.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="quiz.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.quiz.title')" for="quiz-title">Title</label>
                        <input type="text" class="form-control" name="title" id="quiz-title"
                            :class="{'valid': !$v.quiz.title.$invalid, 'invalid': $v.quiz.title.$invalid }" v-model="$v.quiz.title.$model"  required/>
                        <div v-if="$v.quiz.title.$anyDirty && $v.quiz.title.$invalid">
                            <small class="form-text text-danger" v-if="!$v.quiz.title.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.quiz.language')" for="quiz-language">Language</label>
                        <select class="form-control" name="language" :class="{'valid': !$v.quiz.language.$invalid, 'invalid': $v.quiz.language.$invalid }" v-model="$v.quiz.language.$model" id="quiz-language"  required>
                            <option value="FRENCH" v-bind:label="$t('quizApp.Language.FRENCH')">FRENCH</option>
                            <option value="ENGLISH" v-bind:label="$t('quizApp.Language.ENGLISH')">ENGLISH</option>
                        </select>
                        <div v-if="$v.quiz.language.$anyDirty && $v.quiz.language.$invalid">
                            <small class="form-text text-danger" v-if="!$v.quiz.language.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.quiz.mode')" for="quiz-mode">Mode</label>
                        <select class="form-control" name="mode" :class="{'valid': !$v.quiz.mode.$invalid, 'invalid': $v.quiz.mode.$invalid }" v-model="$v.quiz.mode.$model" id="quiz-mode"  required>
                            <option value="SOLO" v-bind:label="$t('quizApp.Mode.SOLO')">SOLO</option>
                            <option value="GROUP" v-bind:label="$t('quizApp.Mode.GROUP')">GROUP</option>
                        </select>
                        <div v-if="$v.quiz.mode.$anyDirty && $v.quiz.mode.$invalid">
                            <small class="form-text text-danger" v-if="!$v.quiz.mode.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.quiz.description')" for="quiz-description">Description</label>
                        <input type="text" class="form-control" name="description" id="quiz-description"
                            :class="{'valid': !$v.quiz.description.$invalid, 'invalid': $v.quiz.description.$invalid }" v-model="$v.quiz.description.$model" />
                    </div>
                    <div class="form-group">
                        <label v-text="$t('quizApp.quiz.question')" for="quiz-question">Question</label>
                        <select class="form-control" v-bind:size="questions.length" id="quiz-question" multiple name="question" v-model="quiz.questions">
                            <option v-bind:value="getSelected(quiz.questions, questionOption)" v-for="questionOption in questions" :key="questionOption.id">{{questionOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.quiz.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./quiz-update.component.ts">
</script>
