<template>
    <div class="d-flex row justify-content-center">
        <span class="quiz img-fluid rounded" style="position: relative; top:-45px;"></span>
        <div class="col-8">
            <div v-if="quiz">
                    <h1 class="jh-entity-heading"><b>{{quiz.title}}</b></h1>
                    <div v-if="getSubGroup === undefined">
                        <h4 v-text="$t('quizApp.quiz.quizResultsTitle')" class="text-success">Quiz results</h4>
                    </div>
                    <div v-else>
                    	<h4 v-text="$t('quizApp.quiz.quizResultsSubGroup')" class="text-success">Quiz results</h4>
                        <span class="text-success">Groupe: {{getSubGroup}}</span>
                    </div>
                    <br><hr><br>
                    <div v-for="(question, i) in quiz.questions">{{i > 0 ? '' : ''}}
                        <div v-if="question.answersType !== 'OPEN'">
                        <div class="d-flex flex-row align-items-center question-title">
                            <h3 class="text-success">Q.</h3>
                            <h5 class="mt-1 ml-2">{{question.name}}</h5>
                        </div>
                        <div class="row" v-for="(choice, i) in question.choices">{{i > 0 ? '' : ''}}
                            <div class="col-md-5">{{choice.displayName}}</div>
                            <div class="col-md-7"> <b-progress variant="success"
                                    :value="getNumberOfResults(results, question.id, choice.displayName)"
                                    :max="getTotalNumber(results, question.id)" show-value>
                            </b-progress> </div>
                        </div>
                        <br><hr><br>
                        </div>
                    </div>
                    <div v-for="(question, i) in quiz.questions">{{i > 0 ? '' : ''}}
                        <div v-if="question.answersType === 'OPEN'"  class="ans ml-2">
                        <div class="d-flex flex-row align-items-center question-title">
                            <h3 class="text-success">Q.</h3>
                            <h5 class="mt-1 ml-2">{{question.name}}</h5>
                        </div>
                        <div v-for="(result, i) in results">{{i > 0 ? '' : ''}}
                            <div v-if="getSubGroup === undefined">
                                <div v-if="question.id === result.idQuestion && result.answer !== ''"  class="ans ml-2">
                                    <label>
                                            • {{result.answer}}
                                    </label>
                                </div>
                            </div>
                            <div v-else>
                            	<div v-if="getSubGroup === result.idSubGroup && question.id === result.idQuestion && result.answer !== ''"  class="ans ml-2">
                            		<label>
                            				• {{result.answer}}
                            		</label>
                            	</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <br><hr><br>
                    <div>
                        <button v-on:click="previousState" class="btn btn-success">
                            <font-awesome-icon icon="arrow-left"></font-awesome-icon>
                            <span v-text="$t('entity.action.back')">Back</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./quiz-compare.components.ts">

</script>


