<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('quizApp.quiz.home.title')" id="quiz-heading">Quizzes</span>
            <router-link :to="{name: 'QuizCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz"
                         v-if="hasAnyAuthority(['ROLE_ADMIN', 'ROLE_PROFESSEUR'])">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('quizApp.quiz.home.createLabel')">
                    Create a new Quiz
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && quizzes && quizzes.length === 0">
            <span v-text="$t('quizApp.quiz.home.notFound')">No quizzes found</span>
        </div>
        <div class="table-responsive" v-if="quizzes && quizzes.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('title')"><span v-text="$t('quizApp.quiz.title')">Title</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'title'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('language')"><span v-text="$t('quizApp.quiz.language')">Language</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'language'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('mode')"><span v-text="$t('quizApp.quiz.mode')">Mode</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'mode'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('description')"><span v-text="$t('quizApp.quiz.description')">Description</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'description'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="quiz in quizzes"
                    :key="quiz.id">
                    <td>
                        <router-link :to="{name: 'QuizView', params: {quizId: quiz.id}}">{{quiz.id}}</router-link>
                    </td>
                    <td>{{quiz.title}}</td>
                    <td v-text="$t('quizApp.Language.' + quiz.language)">{{quiz.language}}</td>
                    <td v-text="$t('quizApp.Mode.' + quiz.mode)">{{quiz.mode}}</td>
                    <td>{{quiz.description}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'QuizView', params: {quizId: quiz.id}}" tag="button" class="btn btn-success btn-sm">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>&nbsp;

                            <router-link :to="{name: 'QuizCompareResults', params: {quizId: quiz.id}}" tag="button" class="btn btn-primary btn-sm">
                                <font-awesome-icon icon="book"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.compare')">Compare results</span>
                            </router-link>&nbsp;

                            <router-link :to="{name: 'QuizViewResults', params: {quizId: quiz.id}}" tag="button" class="btn btn-info btn-sm">
                                <font-awesome-icon icon="list"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.viewResults')">View results</span>
                            </router-link>&nbsp;&nbsp;

                            <router-link :to="{name: 'QuizEdit', params: {quizId: quiz.id}}"  tag="button" class="btn btn-warning btn-sm"
                                         v-if="hasAnyAuthority(['ROLE_ADMIN', 'ROLE_PROFESSEUR'])">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>&nbsp;

                            <b-button v-on:click="prepareRemove(quiz)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity
                                   v-if="hasAnyAuthority(['ROLE_ADMIN', 'ROLE_PROFESSEUR'])">
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="quizApp.quiz.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-quiz-heading" v-text="$t('quizApp.quiz.delete.question', {'id': removeId})">Are you sure you want to delete this Quiz?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-quiz" v-text="$t('entity.action.delete')" v-on:click="removeQuiz()">Delete</button>
            </div>
        </b-modal>
        <div v-show="quizzes && quizzes.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./quiz.component.ts">
</script>
