<template>
    <div class="d-flex row justify-content-center">
        <span class="quiz img-fluid rounded" style="position: relative; top:-45px;"></span>
        <div class="col-8">
            <div v-if="quiz">
                <form name="fillQuiz" id="fillQuiz" role="form" v-on:submit.prevent="submitQuiz" >
                    <h2 class="jh-entity-heading"><b>{{quiz.title}}</b></h2>
                    <span v-if="getSubGroup" class="text-success">Groupe: {{getSubGroup}}</span>
                    <br><hr><br>

                    <input type="hidden" :id="'quizuseremail'" :value="getUserEmail" :name="'quizuseremail'">
                    <input type="hidden" :id="'idSubGroup'" v-if="getSubGroup" :value="getSubGroup" :name="'idSubGroup'">
                    <input type="hidden" :id="'quizid'" :value="quiz.id" :name="'quizid'">

                    <div v-for="(question, i) in quiz.questions" :key="question.id">{{i > 0 ? '' : ''}}
                        <div class="d-flex flex-row align-items-center question-title">
                            <h3 class="text-success">Q.</h3>
                            <h5 class="mt-1 ml-2">{{question.name}}</h5>
                        </div>
                        <div v-if="question.answersType === 'OPEN'"  class="ans ml-2">
                            <textarea class="form-control" :id="question.id" rows="3" :name="'quizfield-'+question.id"></textarea>
                        </div>
                        <div class="ans ml-2" v-for="(choice, i) in question.choices" :key="choice.id">{{i > 0 ? '' : ''}}
                            <div v-if="question.answersType === 'ONE'" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <input type="radio"
                                           :id="question.id+choice.id"
                                           :value="choice.displayName"
                                           :name="'quizfield-'+question.id"
                                           :required="i===0"
                                           autocomplete="off" />
                                        {{choice.displayName}}
                                </label>
                            </div>
                           <div v-else-if="question.answersType === 'MULTI'">
                               <label class="btn btn-outline-success">
                                <input type="checkbox"
                                       class="btn-check"
                                       :id="question.id+choice.id"
                                       :value="choice.displayName"
                                       :name="'quizfield-'+question.id" />
                                       {{choice.displayName}}</label>
                            </div>
                        </div>
                        <br><hr><br>
                    </div>
                    <div>
                        <button type="submit" id="save-entity" class="btn btn-success">
                            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.submit')">Submit</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./quiz-details.component.ts">
</script>
