<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="choice">
                <h2 class="jh-entity-heading"><span v-text="$t('quizApp.choice.detail.title')">Choice</span> {{choice.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('quizApp.choice.language')">Language</span>
                    </dt>
                    <dd>
                        <span v-text="$t('quizApp.Language.' + choice.language)">{{choice.language}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('quizApp.choice.displayName')">Display Name</span>
                    </dt>
                    <dd>
                        <span>{{choice.displayName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('quizApp.choice.value')">Value</span>
                    </dt>
                    <dd>
                        <span>{{choice.value}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('quizApp.choice.isGood')">Is Good</span>
                    </dt>
                    <dd>
                        <span>{{choice.isGood}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="choice.id" :to="{name: 'ChoiceEdit', params: {choiceId: choice.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./choice-details.component.ts">
</script>
