<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('quizApp.choice.home.title')" id="choice-heading">Choices</span>
            <router-link :to="{name: 'ChoiceCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-choice">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('quizApp.choice.home.createLabel')">
                    Create a new Choice
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && choices && choices.length === 0">
            <span v-text="$t('quizApp.choice.home.notFound')">No choices found</span>
        </div>
        <div class="table-responsive" v-if="choices && choices.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('language')"><span v-text="$t('quizApp.choice.language')">Language</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'language'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('displayName')"><span v-text="$t('quizApp.choice.displayName')">Display Name</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'displayName'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('value')"><span v-text="$t('quizApp.choice.value')">Value</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'value'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('isGood')"><span v-text="$t('quizApp.choice.isGood')">Is Good</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isGood'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="choice in choices"
                    :key="choice.id">
                    <td>
                        <router-link :to="{name: 'ChoiceView', params: {choiceId: choice.id}}">{{choice.id}}</router-link>
                    </td>
                    <td v-text="$t('quizApp.Language.' + choice.language)">{{choice.language}}</td>
                    <td>{{choice.displayName}}</td>
                    <td>{{choice.value}}</td>
                    <td>{{choice.isGood}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'ChoiceView', params: {choiceId: choice.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ChoiceEdit', params: {choiceId: choice.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(choice)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="quizApp.choice.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-choice-heading" v-text="$t('quizApp.choice.delete.question', {'id': removeId})">Are you sure you want to delete this Choice?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-choice" v-text="$t('entity.action.delete')" v-on:click="removeChoice()">Delete</button>
            </div>
        </b-modal>
        <div v-show="choices && choices.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./choice.component.ts">
</script>
