<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="quizApp.choice.home.createOrEditLabel" v-text="$t('quizApp.choice.home.createOrEditLabel')">Create or edit a Choice</h2>
                <div>
                    <div class="form-group" v-if="choice.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="choice.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.choice.language')" for="choice-language">Language</label>
                        <select class="form-control" name="language" :class="{'valid': !$v.choice.language.$invalid, 'invalid': $v.choice.language.$invalid }" v-model="$v.choice.language.$model" id="choice-language"  required>
                            <option value="FRENCH" v-bind:label="$t('quizApp.Language.FRENCH')">FRENCH</option>
                            <option value="ENGLISH" v-bind:label="$t('quizApp.Language.ENGLISH')">ENGLISH</option>
                        </select>
                        <div v-if="$v.choice.language.$anyDirty && $v.choice.language.$invalid">
                            <small class="form-text text-danger" v-if="!$v.choice.language.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.choice.displayName')" for="choice-displayName">Display Name</label>
                        <input type="text" class="form-control" name="displayName" id="choice-displayName"
                            :class="{'valid': !$v.choice.displayName.$invalid, 'invalid': $v.choice.displayName.$invalid }" v-model="$v.choice.displayName.$model"  required/>
                        <div v-if="$v.choice.displayName.$anyDirty && $v.choice.displayName.$invalid">
                            <small class="form-text text-danger" v-if="!$v.choice.displayName.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.choice.value')" for="choice-value">Value</label>
                        <input type="number" class="form-control" name="value" id="choice-value"
                            :class="{'valid': !$v.choice.value.$invalid, 'invalid': $v.choice.value.$invalid }" v-model.number="$v.choice.value.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.choice.isGood')" for="choice-isGood">Is Good</label>
                        <input type="checkbox" class="form-check" name="isGood" id="choice-isGood"
                            :class="{'valid': !$v.choice.isGood.$invalid, 'invalid': $v.choice.isGood.$invalid }" v-model="$v.choice.isGood.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.choice.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./choice-update.component.ts">
</script>
