<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="question">
                <h2 class="jh-entity-heading"><span v-text="$t('quizApp.question.detail.title')">Question</span> {{question.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('quizApp.question.language')">Language</span>
                    </dt>
                    <dd>
                        <span v-text="$t('quizApp.Language.' + question.language)">{{question.language}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('quizApp.question.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{question.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('quizApp.question.answersType')">Answers Type</span>
                    </dt>
                    <dd>
                        <span v-text="$t('quizApp.AnswersType.' + question.answersType)">{{question.answersType}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('quizApp.question.choice')">Choice</span>
                    </dt>
                    <dd>
                        <span v-for="(choice, i) in question.choices" :key="choice.id">{{i > 0 ? ', ' : ''}}
                            <router-link :to="{name: 'ChoiceView', params: {choiceId: choice.id}}">{{choice.displayName}}</router-link>
                        </span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="question.id" :to="{name: 'QuestionEdit', params: {questionId: question.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./question-details.component.ts">
</script>
