<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="quizApp.question.home.createOrEditLabel" v-text="$t('quizApp.question.home.createOrEditLabel')">Create or edit a Question</h2>
                <div>
                    <div class="form-group" v-if="question.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="question.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.question.language')" for="question-language">Language</label>
                        <select class="form-control" name="language" :class="{'valid': !$v.question.language.$invalid, 'invalid': $v.question.language.$invalid }" v-model="$v.question.language.$model" id="question-language"  required>
                            <option value="FRENCH" v-bind:label="$t('quizApp.Language.FRENCH')">FRENCH</option>
                            <option value="ENGLISH" v-bind:label="$t('quizApp.Language.ENGLISH')">ENGLISH</option>
                        </select>
                        <div v-if="$v.question.language.$anyDirty && $v.question.language.$invalid">
                            <small class="form-text text-danger" v-if="!$v.question.language.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.question.name')" for="question-name">Name</label>
                        <input type="text" class="form-control" name="name" id="question-name"
                            :class="{'valid': !$v.question.name.$invalid, 'invalid': $v.question.name.$invalid }" v-model="$v.question.name.$model"  required/>
                        <div v-if="$v.question.name.$anyDirty && $v.question.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.question.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('quizApp.question.answersType')" for="question-answersType">Answers Type</label>
                        <select class="form-control" name="answersType" :class="{'valid': !$v.question.answersType.$invalid, 'invalid': $v.question.answersType.$invalid }" v-model="$v.question.answersType.$model" id="question-answersType"  required>
                            <option value="OPEN" v-bind:label="$t('quizApp.AnswersType.OPEN')">OPEN</option>
                            <option value="ONE" v-bind:label="$t('quizApp.AnswersType.ONE')">ONE</option>
                            <option value="MULTI" v-bind:label="$t('quizApp.AnswersType.MULTI')">MULTI</option>
                        </select>
                        <div v-if="$v.question.answersType.$anyDirty && $v.question.answersType.$invalid">
                            <small class="form-text text-danger" v-if="!$v.question.answersType.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label v-text="$t('quizApp.question.choice')" for="question-choice">Choice</label>
                        <select class="form-control" v-bind:size="choices.length" id="question-choice" multiple name="choice" v-model="question.choices">
                            <option v-bind:value="getSelected(question.choices, choiceOption)" v-for="choiceOption in choices" :key="choiceOption.id">{{choiceOption.displayName}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.question.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./question-update.component.ts">
</script>
